<h1><%= User.find(params[:id]).name %>がお気に入りしている投稿</h1>
<% if @f_microposts.present? then %>
  <% @f_microposts.each do |micropost| %>
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  
  <% end %>
<% end %>
